/RssMGMApp/obj/RssMGMApp.csproj.nuget.dgspec.json
/RssMGMApp/obj/RssMGMApp.csproj.nuget.g.props
/RssMGMApp/obj/RssMGMApp.csproj.nuget.g.targets
/RssMGMApp/obj/project.assets.json
/RssMGMApp/obj/Debug/